body{
  background-color: rgb(45, 54, 61);
}
.headdd{
  text-align: center;
  color: rgb(185, 191, 255);
  font-size: 2rem;
}
.ccc{
  /* width:57vw; */
  display: flex;
  justify-content: space-around;
}
*{
  padding:5px;
}
.butt{
  color: red;
}
.Appp{
  margin-left: 15vw;
  display: flex;
  margin-right: 13rem;
  margin-top: 5rem;
  /* background-color: aquamarine; */
}
.cont{
  width: 30vw;
}
.contt{
  width: 35vw;
  margin-left: 2rem;
}
@media only screen and (max-width: 900px) {
  .Appp{
    display: flex;
    flex-direction: column;
    /* margin-left: 25vw; */
    margin-right: 0;
    margin-left: 0;
  }
  .cont{
    padding-left: 3rem;
    width:80vw
  }
  .contt{
    width: 80vw;
  }
  .ccc{
    flex-direction: column;
    min-width: 80vw;
    font-size: 1rem;
  }
}
